{% extends 'base.html' %}
{% load static %}
{% block criar_reparticao %}
    <!-- Navbar -->
    {% include "components/navbar_apapesc.html" %}
<div class="min-h-screen flex bg-gray-100">
      <!-- Conteúdo Principal -->
  <div class="flex-1 flex items-center justify-center p-6">
    <div class="w-full sm:w-3/4 lg:w-1/2 bg-white rounded-lg shadow-md p-8">
    <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">Adicionar Repartição</h1>


    <div class="container mx-auto my-8">
        <div class="bg-white p-6 rounded-lg shadow-md">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Seção Nome da Repartição -->
            <div class="mb-8 border-b pb-4">
                <h2 class="text-xl font-semibold text-gray-700 mb-3">Nome da Repartição</h2>
                <div class="mb-4">
                    <small>OBS: Ao nomear uma repartição, sempre use nome e sobrenome! <br><br>
                        EX: <strong>Matriz de Florianópolis</strong> <br>
                        EX: <strong>Repartição de Garopara</strong><br>
                        EX: <strong>Repartição de Balneário</strong>
                    </small>
                    <br><br>
                    <label for="{{ form.nome_reparticao.id_for_label }}" class="block text-sm font-medium text-gray-700">Nome da Repartição</label>
                    {{ form.nome_reparticao }}
                    {% for error in form.nome_reparticao.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>

            <!-- Seção Município Sede -->
            <div class="mb-8 border-b pb-4">
                <h2 class="text-xl font-semibold text-gray-700 mb-3">Município Sede da Repartição</h2>
                <div class="mb-4">
                    <label for="{{ form.municipio_sede.id_for_label }}" class="block text-sm font-medium text-gray-700">Município Sede</label>
                    {{ form.municipio_sede }}
                    {% for error in form.municipio_sede.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4" id="novo-municipio-sede-container" style="display: none;">
                    <label for="{{ form.novo_municipio_sede.id_for_label }}" class="block text-sm font-medium text-green-700">Ou, adicione um Município Sede</label>
                    {{ form.novo_municipio_sede }}
                    {% for error in form.novo_municipio_sede.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>

            <!-- Seção Dados da Repartição -->
            <div class="mb-8 border-b pb-4">
                <h2 class="text-xl font-semibold text-gray-700 mb-3">Dados da Repartição</h2>
                <div class="space-y-4">
                    <div>
                        <label for="{{ form.delegado_responsavel.id_for_label }}" class="block text-sm font-medium text-gray-700">Delegado Responsável</label>
                        {{ form.delegado_responsavel }}
                        {% for error in form.delegado_responsavel.errors %}
                            <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="{{ form.celular.id_for_label }}" class="block text-sm font-medium text-gray-700">Celular da Repartição</label>
                        {{ form.celular }}
                        {% for error in form.celular.errors %}
                            <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium text-gray-700">Email da Repartição</label>
                        {{ form.email }}
                        {% for error in form.email.errors %}
                            <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Seção Endereço da Repartição -->
            <div class="border-b border-gray-300 pb-6 mb-6">
              <h2 class="text-xl font-semibold text-gray-700 mb-4">Endereço</h2>

              <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <!-- Campos da Seção 3 -->
                <div class="mb-4">
                  <label for="{{ form.logradouro.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                    {{ form.logradouro.label }}
                  </label>
                  <div class="mt-1">
                    {{ form.logradouro }}
                  </div>
                  {% for error in form.logradouro.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                  {% endfor %}
                </div>

                <div class="mb-4">
                  <label for="{{ form.bairro.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                    {{ form.bairro.label }}
                  </label>
                  <div class="mt-1">
                    {{ form.bairro }}
                  </div>
                  {% for error in form.bairro.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                  {% endfor %}
                </div>

                <div class="mb-4">
                  <label for="{{ form.numero.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                    {{ form.numero.label }}
                  </label>
                  <div class="mt-1">
                    {{ form.numero }}
                  </div>
                  {% for error in form.numero.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                  {% endfor %}
                </div>

                <div class="mb-4">
                  <label for="{{ form.complemento.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                    {{ form.complemento.label }}
                  </label>
                  <div class="mt-1">
                    {{ form.complemento }}
                  </div>
                  {% for error in form.complemento.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                  {% endfor %}
                </div>

                <div class="mb-4">
                  <label for="{{ form.cep.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                    {{ form.cep.label }}
                  </label>
                  <div class="mt-1">
                    {{ form.cep }}
                  </div>
                  {% for error in form.cep.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                  {% endfor %}
                </div>

                <div class="mb-4">
                  <label for="{{ form.municipio.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                    {{ form.municipio.label }}
                  </label>
                  <div class="mt-1">
                    {{ form.municipio }}
                  </div>
                  {% for error in form.municipio.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                  {% endfor %}
                </div>

                <div class="mb-4">
                  <label for="{{ form.uf.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                    {{ form.uf.label }}
                  </label>
                  <div class="mt-1">
                    {{ form.uf }}
                  </div>
                  {% for error in form.uf.errors %}
                    <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                  {% endfor %}
                </div>
              </div>
            </div>

            <!-- Seção Municípios de Circunscrição -->
            <div class="mb-8">
                <h2 class="text-xl font-semibold text-gray-700 mb-3">Municípios de Circunscrição</h2>
                <small>Uma repartição Apapesc pode ter uma área de atuação mais ampla que os limites do seu município sede.
                    Ou seja, a circunscrição sobre a qual exerce sua competência, poderá abranger outros municípios.
                    Assim, é possível determinar múltiplos municípios para uma mesma repartição.
                </small>
                <br><br>
                <div class="mb-4">
                    <label for="{{ form.municipios_circunscricao.id_for_label }}" class="block text-sm font-medium text-gray-700">Municípios</label>
                    {{ form.municipios_circunscricao }}
                    {% for error in form.municipios_circunscricao.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="flex items-center space-x-2">
                    <small class="text-gray-600">Adicionar Município de Circunscrição</small>
                    <a href="{% url 'app_associados:criar_municipio' %}" target="_blank" class="text-green-500 hover:text-green-700">
                        <i class="material-icons" style="font-size: 17px;">add_circle_outline</i>
                    </a>
                </div>
            </div>

            <!-- Botões de Ação -->
            <div class="mt-8 flex items-center space-x-4">
                <button type="submit" name="save_and_continue" value="1" class="bg-blue-500 hover:bg-green-600 text-white font-bold py-2 px-6 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
                    Atualizar e Continuar Editando
                </button>
                <button type="submit" name="save_and_view" value="1" class="bg-blue-500 hover:bg-green-600 text-white font-bold py-2 px-6 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
                  Salvar e Visualizar
              </button>
                <a href="#" class="text-blue-500 hover:underline ml-4">Cancelar</a>
            </div>

        </form>
    </div>
</div>
</div>
  </div>
</div>
  <!-- Footer -->
  {% include "components/footer_apapesc.html" %}
<!-- Carregar o JavaScript separado em arquivos -->
<script src="{% static 'js/mascaraTelefone.js' %}"></script>
<script src="{% static 'js/municipio_select.js' %}"></script>
<script src="{% static 'js/mascaraCEP.js' %}"></script>
<script src="{% static 'js/formularioEventos.js' %}"></script>

{% endblock criar_reparticao %}
