{% extends 'base.html' %}
{% load static %}
{% block detail_associados %}
    <!-- Navbar -->
    {% include "components/navbar_apapesc.html" %}
  <!-- Hero Section -->
  <div class="bg-blue-500 text-white pt-12 pb-8 px-4 text-center">
    {% if associado.foto %}
      <img src="{{ associado.foto.url }}" alt="Foto do associado" class="w-32 h-32 rounded-full mx-auto mb-4 shadow-lg">
    {% endif %}
    <h1 class="text-4xl font-bold">{{ associado.nome_completo }}</h1>
    <p class="text-xl mt-2">Associado desde {{ associado.data_cadastro|date:"Y" }}</p>
  </div>

<!-- Conteúdo Principal -->
<div class="container mx-auto py-6 px-4 max-w-5xl">

  <!-- Links de Ações -->
  <div class="flex justify-center space-x-4 mb-4">
    <a href="{% url 'app_associados:lista_associados' %}" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600">
      Voltar para a lista
    </a>
    <a href="{% url 'app_associados:editar_associado' associado.id %}" class="bg-gray-500 text-white py-2 px-4 rounded-lg hover:bg-yellow-600">
      Editar Associado
    </a>
  </div>

  <!-- Seção: Informações Pessoais -->
  <div class="bg-white p-6 rounded-lg shadow-md mb-6">
    <h2 class="text-2xl font-semibold text-gray-700 mb-6">Informações Pessoais</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">

      <!-- Nome -->
      <div class="mb-4 flex items-center">
        <strong class="w-28 text-gray-700">Nome:</strong>
        <span id="nome-{{ associado.pk }}" class="ml-2">{{ associado.nome_completo }}</span>
        <button onclick="copyToClipboard('nome-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
          <i class="material-icons" style="font-size: 16px;">content_copy</i>
        </button>
      </div>

      <!-- Telefone -->
      <div class="mb-4 flex items-center">
        <strong class="w-28 text-gray-700">Telefone:</strong>
        <span id="telefone-{{ associado.pk }}" class="ml-2">{{ associado.celular }}</span>
        <button onclick="copyToClipboard('telefone-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
          <i class="material-icons" style="font-size: 16px;">content_copy</i>
        </button>
      </div>

      <!-- CPF -->
      <div class="mb-4 flex items-center">
        <strong class="w-28 text-gray-700">CPF:</strong>
        <span id="cpf-{{ associado.pk }}" class="ml-2">{{ associado.cpf }}</span>
        <button onclick="copyToClipboard('cpf-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
          <i class="material-icons" style="font-size: 16px;">content_copy</i>
        </button>
      </div>

      <!-- Email -->
      <div class="mb-4 flex items-center">
        <strong class="w-28 text-gray-700">Email:</strong>
        <span id="email-{{ associado.pk }}" class="ml-2">{{ associado.email }}</span>
        <button onclick="copyToClipboard('email-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
          <i class="material-icons" style="font-size: 16px;">content_copy</i>
        </button>
      </div>

      <!-- Data de Nascimento -->
      <div class="mb-4 flex items-center">
        <strong class="w-28 text-gray-700">Data de Nascimento:</strong>
        <span id="data_nascimento-{{ associado.pk }}" class="ml-2">{{ associado.data_nascimento|date:"d/m/Y"  }}</span>
        <button onclick="copyToClipboard('data_nascimento-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
          <i class="material-icons" style="font-size: 16px;">content_copy</i>
        </button>
      </div>

      <!-- Sexo Biológico -->
      <div class="mb-4 flex items-center">
        <strong class="w-28 text-gray-700">Sexo Biológico:</strong>
        <span>{{ associado.sexo_biologico }}</span>
      </div>

      <!-- Nome da Mãe -->
      <div class="mb-4 flex items-center">
        <strong class="w-28 text-gray-700">Nome da Mae:</strong>
        <span id="nome_mae-{{ associado.pk }}" class="ml-2">{{ associado.nome_mae  }}</span>
        <button onclick="copyToClipboard('nome_mae-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
          <i class="material-icons" style="font-size: 16px;">content_copy</i>
        </button>
      </div>

      <!-- Nome do Pai -->
      <div class="mb-4 flex items-center">
        <strong class="w-28 text-gray-700">Nome da Pai:</strong>
        <span id="nome_pai-{{ associado.pk }}" class="ml-2">{{ associado.nome_pai  }}</span>
        <button onclick="copyToClipboard('nome_pai-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
          <i class="material-icons" style="font-size: 16px;">content_copy</i>
        </button>
      </div>

    </div>
  </div>


<!-- Seção: Documentos -->
<div class="bg-white p-6 rounded-lg shadow-md mb-6">
  <h2 class="text-2xl font-semibold text-gray-700 mb-6">Documentos - RG</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    <div class="mb-4 flex items-center">
      <strong>RG Número:</strong>
      <span id="rg-numero-{{ associado.pk }}" class="ml-2">{{ associado.rg_numero }}</span>
      <button onclick="copyToClipboard('rg-numero-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>

    <div class="mb-4 flex items-center">
      <strong>Órgão Expeditor (RG):</strong>
      <span id="rg-orgao-{{ associado.pk }}" class="ml-2">{{ associado.rg_orgao }}</span>
      <button onclick="copyToClipboard('rg-orgao-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>

    <div class="mb-4 flex items-center">
      <strong>Data de Emissão (RG):</strong>
      <span id="rg-data-emissao-{{ associado.pk }}" class="ml-2">{{ associado.rg_data_emissao|date:"d/m/Y" }}</span>
      <button onclick="copyToClipboard('rg-data-emissao-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>

    <div class="mb-4 flex items-center">
      <strong>Naturalidade:</strong>
      <span id="naturalidade-{{ associado.pk }}" class="ml-2">{{ associado.naturalidade }}</span>
      <button onclick="copyToClipboard('naturalidade-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
  </div>
</div>


<!-- Seção: Documentos Cidadão -->
<div class="bg-white p-6 rounded-lg shadow-md mb-6">
  <h2 class="text-2xl font-semibold text-gray-700 mb-4">Documentos do Cidadão</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    <div class="mb-4 flex items-center">
      <strong>NIT:</strong>
      <span id="nit-{{ associado.pk }}" class="ml-2">{{ associado.nit }}</span>
      <button onclick="copyToClipboard('nit-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
    <div class="mb-4 flex items-center">
      <strong>PIS:</strong>
      <span id="pis-{{ associado.pk }}" class="ml-2">{{ associado.pis }}</span>
      <button onclick="copyToClipboard('pis-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
    <div class="mb-4 flex items-center">
      <strong>Título de Eleitor:</strong>
      <span id="titulo-eleitor-{{ associado.pk }}" class="ml-2">{{ associado.titulo_eleitor }}</span>
      <button onclick="copyToClipboard('titulo-eleitor-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
  </div>
</div>

<!-- Seção: Documentação Profissional -->
<div class="bg-white p-6 rounded-lg shadow-md mb-6">
  <h2 class="text-2xl font-semibold text-gray-700 mb-4">Documentação Profissional - RGP</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    <div class="mb-4 flex items-center">
      <strong>RGP:</strong>
      <span id="rgp-{{ associado.pk }}" class="ml-2">{{ associado.rgp }}</span>
      <button onclick="copyToClipboard('rgp-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
    <div class="mb-4 flex items-center">
      <strong>Data de Emissão (RGP):</strong>
      <span id="rgp-data-emissao-{{ associado.pk }}" class="ml-2">{{ associado.rgp_data_emissao|date:"d/m/Y" }}</span>
      <button onclick="copyToClipboard('rgp-data-emissao-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
    <div class="mb-4 flex items-center">
      <strong>Primeiro Registro:</strong>
      <span id="primeiro-registro-{{ associado.pk }}" class="ml-2">{{ associado.primeiro_registro|date:"d/m/Y" }}</span>
      <button onclick="copyToClipboard('primeiro-registro-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
    <div class="mb-4 flex items-center">
      <strong>MPA (RGP):</strong>
      <span id="rgp-mpa-{{ associado.pk }}" class="ml-2">{{ associado.rgp_mpa }}</span>
      <button onclick="copyToClipboard('rgp-mpa-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
  </div>
</div>

<!-- Seção: Documento de Trabalho (CTPS) -->
<div class="bg-white p-6 rounded-lg shadow-md mb-6">
  <h2 class="text-2xl font-semibold text-gray-700 mb-4">Documentação Trabalho - CTPS</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    <div class="mb-4 flex items-center">
      <strong>CTPS:</strong>
      <span id="ctps-{{ associado.pk }}" class="ml-2">{{ associado.ctps }}</span>
      <button onclick="copyToClipboard('ctps-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
    <div class="mb-4 flex items-center">
      <strong>Série CTPS:</strong>
      <span id="ctps-serie-{{ associado.pk }}" class="ml-2">{{ associado.ctps_serie }}</span>
      <button onclick="copyToClipboard('ctps-serie-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
    <div class="mb-4 flex items-center">
      <strong>Data de Emissão (CTPS):</strong>
      <span id="ctps-data-emissao-{{ associado.pk }}" class="ml-2">{{ associado.ctps_data_emissao|date:"d/m/Y" }}</span>
      <button onclick="copyToClipboard('ctps-data-emissao-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
    <div class="mb-4 flex items-center">
      <strong>UF CTPS:</strong>
      <span id="ctps-uf-{{ associado.pk }}" class="ml-2">{{ associado.ctps_uf }}</span>
      <button onclick="copyToClipboard('ctps-uf-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
  </div>
</div>

<!-- Seção: Documento de Habilitação (CNH) -->
<div class="bg-white p-6 rounded-lg shadow-md mb-6">
  <h2 class="text-2xl font-semibold text-gray-700 mb-4">Documento Habilitação - CNH</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    <div class="mb-4 flex items-center">
      <strong>CNH:</strong>
      <span id="cnh-{{ associado.pk }}" class="ml-2">{{ associado.cnh }}</span>
      <button onclick="copyToClipboard('cnh-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
    <div class="mb-4 flex items-center">
      <strong>Data de Emissão (CNH):</strong>
      <span id="cnh-data-emissao-{{ associado.pk }}" class="ml-2">{{ associado.cnh_data_emissao|date:"d/m/Y" }}</span>
      <button onclick="copyToClipboard('cnh-data-emissao-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
  </div>
</div>

<!-- Seção: Endereço -->
<div class="bg-white p-6 rounded-lg shadow-md mb-6">
  <h2 class="text-2xl font-semibold text-gray-700 mb-4">Endereço</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    <div class="mb-4 flex items-center">
      <strong>Logradouro:</strong>
      <span id="logradouro-{{ associado.pk }}" class="ml-2">{{ associado.logradouro }}</span>
      <button onclick="copyToClipboard('logradouro-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
    <div class="mb-4 flex items-center">
      <strong>Bairro:</strong>
      <span id="bairro-{{ associado.pk }}" class="ml-2">{{ associado.bairro }}</span>
      <button onclick="copyToClipboard('bairro-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
    <div class="mb-4 flex items-center">
      <strong>Número:</strong>
      <span id="numero-{{ associado.pk }}" class="ml-2">{{ associado.numero }}</span>
      <button onclick="copyToClipboard('numero-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
    <div class="mb-4 flex items-center">
      <strong>Complemento:</strong>
      <span id="complemento-{{ associado.pk }}" class="ml-2">{{ associado.complemento }}</span>
      <button onclick="copyToClipboard('complemento-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
    <div class="mb-4 flex items-center">
      <strong>CEP:</strong>
      <span id="cep-{{ associado.pk }}" class="ml-2">{{ associado.cep }}</span>
      <button onclick="copyToClipboard('cep-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
    <div class="mb-4 flex items-center">
      <strong>Município:</strong>
      <span id="municipio-{{ associado.pk }}" class="ml-2">{{ associado.municipio }}</span>
      <button onclick="copyToClipboard('municipio-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
    <div class="mb-4 flex items-center">
      <strong>UF:</strong>
      <span id="uf-{{ associado.pk }}" class="ml-2">{{ associado.uf }}</span>
      <button onclick="copyToClipboard('uf-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
  </div>
</div>

<!-- Seção: Acesso ao Governo -->
<div class="bg-white p-6 rounded-lg shadow-md mb-6">
  <h2 class="text-2xl font-semibold text-gray-700 mb-4">Acesso ao Governo</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    <div class="mb-4 flex items-center">
      <strong>Usuário Gov:</strong>
      <span id="user-gov-{{ associado.pk }}" class="ml-2">{{ associado.user_gov }}</span>
      <button onclick="copyToClipboard('user-gov-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
    <div class="mb-4 flex items-center">
      <strong>Senha Gov:</strong>
      <span id="senha-gov-{{ associado.pk }}" class="ml-2">{{ associado.senha_gov }}</span>
      <button onclick="copyToClipboard('senha-gov-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
  </div>
</div>

<!-- Seção: Detalhes da Filiação -->
<div class="bg-white p-6 rounded-lg shadow-md mb-6">
  <h2 class="text-2xl font-semibold text-gray-700 mb-4">Detalhes da Filiação</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    <div class="mb-4 flex items-center">
      <strong>Data da Filiação:</strong>
      <span id="data-cadastro-{{ associado.pk }}" class="ml-2">{{ associado.data_cadastro|date:"d/m/Y" }}</span>
      <button onclick="copyToClipboard('data-cadastro-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
    <div class="mb-4 flex items-center">
      <strong>Vinculado à Repartição</strong>
      <span id="nome-reparticao-{{ associado.pk }}" class="ml-2">{{ associado.reparticao }}</span>
    </div>
    <div class="mb-4 flex items-center">
      <strong>Circunscrição - Área de Atuação</strong>
      <span id="municipio_circunscricao-{{ associado.pk }}" class="ml-2">{{ associado.municipio_circunscricao }}</span>
      <button onclick="copyToClipboard('municipio_circunscricao-{{ associado.pk }}')" class="ml-2 text-gray-600 hover:text-gray-800">
        <i class="material-icons" style="font-size: 16px;">content_copy</i>
      </button>
    </div>
    <div class="mb-4 flex items-center">
      <strong>Delegado / Responsãvel:</strong>
      <span id="status-{{ associado.pk }}" class="ml-2">{{ reparticao.delegado_responsavel }}</span>
    </div>
    <div class="mb-4 flex items-center">
      <strong>Status de atividade do Associado:</strong>
      <span id="status-{{ associado.pk }}" class="ml-2">{{ associado.status }}</span>
    </div>
  </div>
</div>


    <!-- Seção: Anotações -->
    <div class="bg-white p-6 rounded-lg shadow-md mb-6">
      <h2 class="text-2xl font-semibold text-gray-700 mb-4">Anotações</h2>
      <div><strong>Notas:</strong> {{ associado.content | safe }}</div>
    </div>

  <!-- Links de Ações -->
  <div class="flex justify-start space-x-4 mb-4">
    <a href="{% url 'app_associados:lista_associados' %}" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600">
      Voltar para a lista
    </a>
    <a href="{% url 'app_associados:editar_associado' associado.id %}" class="bg-gray-500 text-white py-2 px-4 rounded-lg hover:bg-yellow-600">
      Editar Associado
    </a>
    <a href="#"
       class="bg-red-500 text-white py-2 px-4 rounded-lg hover:bg-red-700"
       onclick="return confirm('Tem certeza que deseja deletar este associado?')">
      Deletar Associado
    </a>
  </div>
  </div>

  <!-- Inclua o arquivo JavaScript externo -->
  <script src="{% static 'js/copy_to_clipboard.js' %}"></script>

{% endblock detail_associados %}
