{% load static %}
<nav class="bg-blue-600 text-white">
    <div class="container mx-auto px-6 py-4 flex justify-between items-center">
        <!-- Logo -->
        <a href="/" class="flex items-center">
            <img src="{% static 'images/logoapapesc.png' %}" alt="Logo APAPESC" class="w-16 h-16 md:w-24 md:h-24 object-contain">
        </a>

        <!-- Botão do menu para dispositivos móveis -->
        <div class="md:hidden">
            <button id="menu-btn" class="text-2xl focus:outline-none">
                <span class="material-icons">menu</span>
            </button>
        </div>

        <!-- Menu para desktop -->
        <div class="hidden md:flex space-x-6 items-center">
            <a href="{% url 'app_manager:dashboard' %}" class="hover:text-gray-200">Painel</a>
            <!-- Dropdown Associados -->
            <div class="relative group">
                <button class="hover:text-gray-200 focus:outline-none">
                    Listas
                    <span class="material-icons align-middle">arrow_drop_down</span>
                </button>
                <div class="absolute left-0 top-full w-48 bg-white text-black rounded-md shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-200 invisible group-hover:visible">
                    <a href="{% url 'app_associados:lista_associados' %}" class="block px-4 py-2 hover:bg-gray-200">Ass. Ativos</a>
                    <a href="{% url 'app_associados:lista_associados_aposentados' %}" class="block px-4 py-2 hover:bg-gray-200">Ass. Aposentados</a>
                    <a href="#embarcacoes" class="block px-4 py-2 hover:bg-gray-200">Embarcações</a>
                    <a href="#embarcacoes" class="block px-4 py-2 hover:bg-gray-200">Licenças</a>
                    <a href="{% url 'app_associados:lista_reparticoes' %}" class="block px-4 py-2 hover:bg-gray-200">Repartições Apapesc</a>
                    <a href="{% url 'app_associados:lista_municipios' %}" class="block px-4 py-2 hover:bg-gray-200">Mun. Circunscrição</a>
                </div>
            </div>

            <!-- Dropdown Gerenciamento -->
            <div class="relative group">
                <button class="hover:text-gray-200 focus:outline-none">
                    Cadastrar
                    <span class="material-icons align-middle">arrow_drop_down</span>
                </button>
                <div class="absolute left-0 top-full w-48 bg-white text-black rounded-md shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-200 invisible group-hover:visible">
                    <a href="{% url 'app_associados:cadastrar_associado' %}" class="block px-4 py-2 hover:bg-gray-200">Novo Associado</a>
                    <a href="{% url 'app_associados:criar_reparticao' %}" class="block px-4 py-2 hover:bg-gray-200">Nova Repartição</a>
                    <a href="#embarcacoes" class="block px-4 py-2 hover:bg-gray-200">Nova Embarcação</a>
                    <a href="#licencas" class="block px-4 py-2 hover:bg-gray-200">Nova Licença</a>
                    <a href="{% url 'app_associados:criar_municipio' %}" class="block px-4 py-2 hover:bg-gray-200">Mun. Circunscrição</a>

                </div>
            </div>

            <!-- Dropdown Outros -->
            <div class="relative group">
                <button class="hover:text-gray-200 focus:outline-none">
                    Outros
                    <span class="material-icons align-middle">arrow_drop_down</span>
                </button>
                <div class="absolute left-0 top-full w-48 bg-white text-black rounded-md shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-200 invisible group-hover:visible">
                    <a href="#link1" class="block px-4 py-2 hover:bg-gray-200">Link1</a>
                    <a href="#link2" class="block px-4 py-2 hover:bg-gray-200">Link2</a>
                    <a href="#link3" class="block px-4 py-2 hover:bg-gray-200">Link3</a>
                    <a href="#link4" class="block px-4 py-2 hover:bg-gray-200">Link4</a>
                </div>
            </div>

            <!-- Link para o login (somente quando o usuário não estiver autenticado) -->
            {% if not user.is_authenticated %}
                <a href="{% url 'account_login' %}" class="hover:text-gray-200">Login</a>
            {% else %}
                <a href="{% url 'account_logout' %}" class="hover:text-gray-200">Logout</a>
                <a href="#" class="text-yellow-300"><strong>Olá, {{user.username}}</strong></a>
            {% endif %}
        </div>
    </div>

    <!-- Menu para dispositivos móveis (oculto por padrão) -->
    <div id="mobile-menu" class="hidden bg-blue-500 md:hidden">
        <!-- Usaremos detalhes para criar dropdowns no mobile -->
        <details class="border-t border-blue-600">
            <summary class="px-4 py-2 text-white hover:bg-blue-700 cursor-pointer">Lista</summary>
            <div class="bg-blue-600">
                <a href="{% url 'app_associados:lista_associados' %}" class="block px-6 py-2 hover:bg-blue-700">Ass. Ativos</a>
                <a href="{% url 'app_associados:lista_associados_aposentados' %}" class="block px-6 py-2 hover:bg-blue-700">Ass. Aposentados</a>
                <a href="#embarcacoes" class="block px-6 py-2 hover:bg-blue-700">Embarcações</a>
                <a href="#licencas" class="block px-6 py-2 hover:bg-blue-700">Licenças</a>
                <a href="{% url 'app_associados:lista_reparticoes' %}" class="block px-6 py-2 hover:bg-blue-700">Repartições Apapesc</a>
                <a href="{% url 'app_associados:lista_municipios' %}" class="block px-6 py-2 hover:bg-blue-700">Municipios Circunscrição</a>
            </div>
        </details>

        <details class="border-t border-blue-600">
            <summary class="px-4 py-2 text-white hover:bg-blue-700 cursor-pointer">Cadastrar</summary>
            <div class="bg-blue-600">
                <a href="{% url 'app_associados:cadastrar_associado' %}" class="block px-6 py-2 hover:bg-blue-700">Associado</a>
                <a href="#embarcacoes" class="block px-6 py-2 hover:bg-blue-700">Embarcação</a>
                <a href="#licencas" class="block px-6 py-2 hover:bg-blue-700">Licença</a>
                <a href="{% url 'app_associados:criar_reparticao' %}" class="block px-6 py-2 hover:bg-blue-700">Repartição Apapesc</a>
                <a href="{% url 'app_associados:criar_municipio' %}" class="block px-6 py-2 hover:bg-blue-700">Mun. Circunscrição</a>
            </div>
        </details>

        <details class="border-t border-blue-600">
            <summary class="px-4 py-2 text-white hover:bg-blue-700 cursor-pointer">Outros</summary>
            <div class="bg-blue-600">
                <a href="#link1" class="block px-6 py-2 hover:bg-blue-700">Link1</a>
                <a href="#link2" class="block px-6 py-2 hover:bg-blue-700">Link2</a>
                <a href="#link3" class="block px-6 py-2 hover:bg-blue-700">Link3</a>
                <a href="#link4" class="block px-6 py-2 hover:bg-blue-700">Link4</a>
            </div>
        </details>

        <!-- Link de login para dispositivos móveis -->
        {% if not user.is_authenticated %}
            <a href="{% url 'account_login' %}" class="block px-4 py-2 hover:bg-blue-700">Login</a>
        {% else %}
            <a href="{% url 'account_logout' %}" class="block px-4 py-2 hover:bg-blue-700">Logout</a>
            <a href="{% url 'app_manager:dashboard' %}" class="block px-4 py-2 hover:bg-blue-700">Painel</a>
            <a href="#" class="block px-4 py-2 hover:bg-blue-700"><strong class="text-yellow-300">Olá, {{user.username}}</strong></a>

        {% endif %}
    </div>
</nav>

<!-- Importar Google Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script>
    // Script para alternar o menu em dispositivos móveis
    document.getElementById('menu-btn').addEventListener('click', function() {
        const mobileMenu = document.getElementById('mobile-menu');
        mobileMenu.classList.toggle('hidden');
    });
</script>




